.newwebsite {
    font-family: 'Montserrat', sans-serif !important;
    padding: 20px;
  }

  .newwebsitecolor {
      color: #777777;
      font-family: 'Montserrat', sans-serif !important;
  }

  .newbackground {
      background-color: #fec0aa;
      filter: grayscale(30%);
  }

  .newbutton {
      color:white !important;
      background-color: #777777 !important;
  }

  .btn-danger.btn-fill:hover, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active, .btn-danger.btn-fill.active, .open > .btn-danger.btn-fill.dropdown-toggle,
  .navbar .navbar-nav > li > a.btn-danger.btn-fill:hover,
  .navbar .navbar-nav > li > a.btn-danger.btn-fill:focus,
  .navbar .navbar-nav > li > a.btn-danger.btn-fill:active,
  .navbar .navbar-nav > li > a.btn-danger.btn-fill.active, .open >
  .navbar .navbar-nav > li > a.btn-danger.btn-fill.dropdown-toggle {
    color: white;
    background-color:#888888 !important;
    border-color:#888888 !important;
    transform: scale(0.9);
  }